# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv

# Poetry
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/

# MkDocs site
site/

# VSCode settings
.vscode/

# Jetbrains settings
.idea/